# Mac junk
.DS_Store

# Python junk
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff
instance/
.webassets-cache

# env
env/

# pem files
*.pem